ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: maroon;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

#title {
  float: right;
  display: block;
  color: maroon;
  text-align: center;
  padding: 14px 16px;
  font-size: 2em;
}

#title:hover {
  color: whitesmoke;
  background-color: maroon;
}

.articleTitles {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.articleInfo {
  max-width: 65%;
}

.articleList {
  width: 40%;
}

.articleList h3,
.articleContent h4 {
  font-size: 1.6em;
  color: maroon;
  font-weight: 500;
  text-decoration: underline;
}

.articleInfo h4 {
  font-size: 1.4em;
  color: maroon;
  font-weight: 500;
}
